.ac_loading {background: white url('/images/ajax-loader.gif') 5px center no-repeat;padding-left: 26px;}

.suggestedOptions
{
	background: #f5f5f5;
	border: 1px solid #999;
	overflow: hidden;
	padding: 3px;
	z-index: 99999;
}

.suggestedOptions ul
{
	background: #fff;
	border: 1px solid #e5e5e5;
	margin: 0;
	padding: 10px;
}

.suggestedOptions li
{
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
}

.suggestedOptions a
{
	background: url(/images/suggestedOptions_a.png) no-repeat 5px center;
	display: block;
	padding: 5px 10px 5px 40px;
}

.suggestedOptions a strong
{
  background: #e3ffa7;
  color: #333;
}

.suggestedOptions .ac_odd a {background-color: #f5f5f5;}
.suggestedOptions .ac_over a {background-color: #d9ffd8;}
