    <!-- footer -->
    <div class="footer">
      <p>// <strong>Los Presus.de/</strong> Proyecto creado graciosamente por <a href="http://www.linkingpaths.com/">Linking Paths</a> y <a href="http://www.lapersonnalite.com/">La Personnalité</a> para <a href="http://www.probp.org/">Pro Bono Publico</a> en el concurso <a href="http://www.abredatos.es/">AbreDatos</a>.</p>
      <p><%= link_to "Lospresus.de qué van", about_path %></p>
    </div>
    <!-- /footer -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10042045-5");
pageTracker._setDomainName(".lospresus.de");
pageTracker._trackPageview();
} catch(err) {}</script>