<form action="/untitled.jsp">
  <label for="city_search">Ver presus de...</label>
  <input id="city_search" autofocus type='text' placeholder='Esribe un municipio...'>
  <button class="btn">Ver</button>
</form>