<form class="initial_search" action="/search">
  <label for="city_search">Ver presus de...</label>
  <input id="city_search" autofocus type='text' placeholder='Escribe un municipio...'/>
  <button class="btn">Ver</button>
</form>