<% content_for :header_title do %>
  ... UHH....ERRMMHH....
<% end %>


<div id="coming"> 
  <h1>Uh?</h1>
  <object width="640" height="505">
    <param name="movie" value="http://www.youtube.com/v/uk37TD_08eA&hl=es_ES&fs=1&color1=0x3a3a3a&color2=0x999999"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="http://www.youtube.com/v/uk37TD_08eA&hl=es_ES&fs=1&color1=0x3a3a3a&color2=0x999999" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed>
  </object>
  <h2>Las cuentas claras y el chocolate espeso.</h2>
  
</div>            
